table {
    margin: 10px 0px;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3b82f6;
    color: white;
}

table th,
td {
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    font-size: 2em !important;
    font-weight: bold !important;
}
h2 {
    font-size: 1.5em !important;
    font-size: bold !important;
}
h3 {
    font-size: 1.17em !important;
    font-weight: bold !important;
}
a {
    margin-top: 10px;
}

ol li {
    list-style: decimal;
    font-weight: bold;
    margin-left: 25px;
    padding: 10px;
}
