.content-section table {
    margin: 10px 0px;
    width: 100%;
}
.content-section table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3b82f6;
    color: white;
}

.content-section table th,
td {
    padding: 8px;
}

.content-section table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content-section h1 {
    font-size: 1.17em !important;
    font-weight: bold !important;
}

.content-section h2 {
    font-size: 1.11em !important;
    font-weight: bold !important;
    margin-top: 12px;
}

.content-section h3 {
    font-size: 0.9em !important;
    font-weight: bold !important;
}
.content-section a {
    margin-top: 10px;
}

.content-section ol li {
    list-style: decimal;
    font-weight: bold;
    margin-left: 25px;
    padding: 10px;
}

.content-section ul li {
    margin-left: 25px;
    padding: 5px;
}

.content-image img {
    margin: 10px auto;
}
